doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      nav
        ul
          li
            a(href='/') Home
          li
            a(href='/about') About
          li
            a(href='/Contact') Contact

    section#wrapper
        block content
        footer
          section.css-table
            section.four-column
              section.cell
                p Mauritius porttitor <br /> jfneksi <br /> ihdinqoo <br />
              section.cell
                p Mauritius porttitor <br /> jfneksi <br /> ihdinqoo <br />
              section.cell
                p Mauritius porttitor <br /> jfneksi <br /> ihdinqoo <br />
              section.cell
                p Mauritius porttitor <br /> jfneksi <br /> ihdinqoo <br />