body {
  padding: 50px;
  font: 62.5%/1.5 "Lucida Grande", Helvetica, Arial, Tahoma, Verdana, sans-serif;
  text-align: center;
  background: #000;
}

a {
  color: #00B7FF;
}

#wrapper {
  width: 920px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  background: #fff;
  padding: 20px;
  border-bottom-right-radius: 15px;
}
